	.titulo-pagina
	{
		text-align:center;
		text-decoration:underline;
		font-family:arial;
		font-size:30px;
	}
	
	p
	{
		font-size:23px;
		display:none;
		text-align:justify;
	}
	
	h4
	{
		font-size:30px;
	}
	
	.perguntas-expandir
	{
		cursor:pointer;
		font-size:23px;
	}
	
	body
	{
		font-size:23px;
		font-family:arial;
		background-color:rgb(220,220,220);
		margin-left:0px;
		margin-right:0px;
		margin-bottom:0px;
		margin-top:0px;
	}
			
	footer
	{
		background-color:rgb(37,93,142);
		text-align:center;
		padding:1%;
		font-size:20px;
		width:100%;
		color:rgb(255,255,255);
	}
	

	.perguntas
	{
		background-color:rgb(153,217,234);
		width:45%;
		height:70%;
		margin-left:auto;
		margin-right:auto;
		margin-top:5%;
		margin-bottom:5%;
		padding:3%;
		padding-bottom:5%;
		margin-top:8%
	}
		
	@media (max-width:1315px) 
	{
		body
		{
			width:100%;
			font-size:23px;
		}
		.perguntas p
		{
			font-size:18px;
		}
		
		.perguntas h5
		{
			font-size:20px;	
		}
		
		.perguntas h4
		{
			font-size:22px;
		}
		
		.perguntas
		{
			width:70%;
			padding-right:8%;
		}
	}
	@media only screen and (min-width: 1040px) 
	{
		.css-header nav a
		{
			font-size:25px;
		}
		
		.titulo-home
		{
			font-size:70px;
		}
	}
	