	header
	{
		background-color:rgb(37,93,142);
		padding:0%;
		position:fixed;
		width:100%;
		z-index:50;
		font-weight:bold;
	}
	
	.logo-buzz
	{
		width:8%;
		height:100%;
		padding:1%;
	}
			
	.titulo-pagina
	{
		text-align:center;
		text-decoration:underline;
		font-family:arial;
		font-size:1.5vw;
	}

	.titulo-home
	{
		font-family:arial;
		font-weight:bold;
		font-size:3.5vw;
		font-family:arial;
		padding:2%;
	}
	
	.bandeiras
	{
		width:2%;
		height:1%;
		margin-bottom:3%;
	}

	body
	{
		font-size:1.2vw;
		font-family:arial;
		background-color:rgb(220,220,220);
		margin-left:0px;
		margin-right:0px;
		margin-bottom:0px;
		margin-top:0px;
	}
	
	a
	{
		text-decoration: none;
	}
	
	header nav a:link
	{
		color:rgb(0,0,0);
	}
	
	header nav a:visited
	{
		color:rgb(20,20,20);
	}
	
	header nav a:hover
	{
		border-radius:5%;
		background-color:rgb(220,220,220);
		box-shadow:0px 0px 15px 3px rgb(153,217,234);
	}
	
	section
	{
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}
	
	.cartao
	{
		border-top-left-radius:10px;
		border-bottom-left-radius:10px;
		border-top-right-radius:10px;
		border-bottom-right-radius:10px;
		background-color:rgb(153,217,234);
		width:60%;
		display:flex;
		flex-grow:0;
		flex-shrink:0;
		margin-bottom:20px;
		margin-top:50px;
		
	}
	
	.cartao img
	{
		width:30%;
		max-width:100%;
		height:auto;
		border-top-left-radius:10px;
		border-bottom-left-radius:10px;
		transition:transform 0.5s;
		
	}
	
	.cartao img:hover
	{
		transform: scale(1.08);
		border-top-right-radius:10px;
		border-bottom-right-radius:10px;
	}
	
	.cartao div
	{
		padding:15px;
		padding-top:0px;
		width:70%;
	}
	
	.cartao h1
	{
		color:rgb(0,0,0);
		letter-spacing:0.8px;
		text-align:center;
		margin-bottom:10px;
		padding-bottom:5px;
		border-bottom:1px solid white;
		
	}
	
	.cartao2
	{
		padding:20%;
		/*margin-right:30%;*/
	}
	
	.cartao p
	{
		color:rgb(0,0,0);
		font-size:1.3vw;
		font-weight:500;
		text-align:justify;
		letter-spacing;0.4px;
	}
	
	#imagens
	{
		margin-right:20%;
		margin-left:5%;
		margin-top:4%;
		margin-bottom:12%;
		width:30%;
		height:60%;
	}
	
	div img
	{
		width: 100%;
		height: 100%;
	}
	
	footer
	{
		background-color:rgb(37,93,142);
		text-align:center;
		padding:1%;
		width:100%;
	}
	
	@media (max-width: 1250px) 
	{
		body
		{
			width:100vw;
			font-size:15px;
		}
		.perguntas p
		{
			font-size:18px;
		}
		
		.cartao img
		{
			width:30%;
			height:100%;
		}
		
		.cartao
		{
			width:70%;
			padding-right:8%;
		}
		
	}
	