	header
	{
		background-color:rgb(37,93,142);
		padding:0%;
		position:fixed;
		width:100%;
		font-weight:bold;
	}
	
	.logo-buzz
	{
		width:8%;
		height:100%;
		padding:1%;
	}
			
	.titulo-pagina
	{
		text-align:center;
		text-decoration:underline;
		font-family:arial;
		font-size:1.5vw;
	}
	
	.bandeiras
	{
		width:2%;
		height:1%;
		margin-bottom:3%;
	}
	
	p
	{
		font-size:1.0vw;
		display:none;
		text-align:justify;
	}
	
	h4
	{
		font-size:1.5vw;
	}
	
	.perguntas-expandir
	{
		cursor:pointer;
	}

	.titulo-home
	{
		font-family:arial;
		font-weight:bold;
		font-size:3.5vw;
		padding:2%;
	}
	
	body
	{
		font-size:1.3vw;
		font-family:arial;
		background-color:rgb(220,220,220);
		margin-left:0px;
		margin-right:0px;
		margin-bottom:0px;
		margin-top:0px;
	}
	
	a
	{
		text-decoration: none;
	}
	
	header nav a:link
	{
		color:rgb(0,0,0);
	}
	
	header nav a:visited
	{
		color:rgb(20,20,20);
	}
	
	header nav a:hover
	{
		border-radius:5%;
		background-color:rgb(220,220,220);
		box-shadow:0px 0px 15px 3px rgb(153,217,234);
	}
			
	footer
	{
		background-color:rgb(37,93,142);
		text-align:center;
		padding:1%;
		width:100%;
	}
	

	.perguntas
	{
		background-color:rgb(153,217,234);
		width:45%;
		height:70%;
		margin-left:auto;
		margin-right:auto;
		margin-top:5%;
		margin-bottom:5%;
		padding:3%;
		padding-bottom:5%;
	}
		
	@media (max-width:1315px) 
	{
		body
		{
			width:100%;
			font-size:20px;
		}
		.perguntas p
		{
			font-size:18px;
		}
		
		.perguntas h5
		{
			font-size:20px;	
		}
		
		.perguntas h4
		{
			font-size:22px;
		}
		
		.perguntas
		{
			width:70%;
			padding-right:8%;
		}
		
	}