	
	body
	{
		font-size:23px;
		font-family:arial;
		background-color:rgb(220,220,220);
		margin-left:0px;
		margin-right:0px;
		margin-bottom:0px;
		margin-top:0px;
	}
	
	section
	{
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
		padding-top:70px;
	}
	
	.cartao
	{
		border-radius:10px;
		background-color:rgb(153,217,234);
		width:50%;
		height:25%;
		display:flex;
		flex-grow:0;
		flex-shrink:0;
		margin-bottom:20px;
		margin-top:50px;
		box-shadow:0px 0px 25px 10px rgb(130,130,130);
	}
	
	.cartao img
	{
		width:30%;
		max-width:100%;
		height:auto;
		border-top-left-radius:10px;
		border-bottom-left-radius:10px;
		transition:transform 0.5s;
		
	}
	
	.cartao img:hover
	{
		transform: scale(1.08);
		border-top-right-radius:10px;
		border-bottom-right-radius:10px;
	}
	
	.cartao div
	{
		padding:0px;
		padding-top:0px;
		width:70%;
	}
	
	.cartao span
	{
		color:rgb(0,0,0);
		letter-spacing:0.8px;
		margin-bottom:10px;
		padding-bottom:5px;
		font-size:30px;
		font-weight:bold;
	}
	
	.cartao hr
	{
		background-color:rgb(255,255,255);
		height:1px;
		color:rgb(255,255,255);
		border-width:0px;
	}
	
	.cartao p
	{
		color:rgb(0,0,0);
		font-size:23px;
		font-weight:500;
		text-align:justify;
		letter-spacing:0.4px;
		padding:4%;
	}
	
	#imagens
	{
		margin-right:20%;
		margin-left:5%;
		margin-top:4%;
		margin-bottom:12%;
		width:30%;
		height:60%;
	}
	
	div img
	{
		width: 100%;
		height: 100%;
	}
	
	footer
	{
		background-color:rgb(37,93,142);
		text-align:center;
		font-size:20px;
		color:rgb(255,255,255);
		padding:1%;
		width:100%;
	}
	
	@media only screen and (min-width: 1040px) 
	{
		body
		{
			font-size:18px;
		}
		
		.titulo-home
		{
			font-size:70px;
		}
		
		.css-header nav a
		{
			font-size:25px;
		}
		
		.cartao p
		{
			font-size:20px;
		}
		
		.cartao div
		{
			padding-bottom:0px;
		}
	