	header
	{
		background-color:rgb(37,93,142);
		padding:0%;
		position:fixed;
		width:100%;
	}
	
	.logo-buzz
	{
		width:8%;
		height:100%;
		padding:1%;
	}
			
	.titulo-pagina
	{
		text-align:center;
		text-decoration:underline;
		font-family:arial;
		font-size:1.5vw;
	}

	.titulo-home
	{
		font-family:arial;
		font-weight:bold;
		font-size:3.5vw;
		padding:2%;
	}
	
	body
	{
		font-size:1.3vw;
		font-family:arial;
		background-color:rgb(220,220,220);
		margin-left:0px;
		margin-right:0px;
		margin-bottom:0px;
		margin-top:0px;
	}
	
	a
	{
		text-decoration: none;
	}
	
	header nav a:link
	{
		color:rgb(0,0,0);
	}
	
	header nav a:visited
	{
		color:rgb(20,20,20);
	}
	
	header nav a:hover
	{
		border-radius:5%;
		background-color:rgb(220,220,220);
		box-shadow:0px 0px 15px 3px rgb(153,217,234);
	}
			
	footer
	{
		background-color:rgb(37,93,142);
		text-align:center;
		padding:1%;
		width:100%;
	}

	.empresa tr
	{
		background-color:rgb(153,217,234);
	}

	.empresa
	{
		margin-left:auto;
		margin-right:auto;
		width:50%;
		margin-top:5%;
		margin-bottom:5%;
	}
			
	.alinhamento-empresa
	{
		padding:5%;
		font-size:1.2vw;
		font-family:arial;
	}
			
	@media(max-width:540px) 
	{
		.alinhamento-empresa
		{
			padding: 5%;
		}

	}
			
	@media(max-width:321px) 
	{
		.alinhamento-empresa 
		{	
			padding: 2%;
		}

	}